/* bullet list */
.info-list-item{
    display: flex;
    margin: 0.5em 0;
}

.info-list-item:before{
    content: '*';
    margin-right: 0.5em;
}

/* message list */
.user-item{
    display: flex;
    margin-bottom: 1.5rem;
    /* rem은 html 폰트 사이즈 */
    /* em은 현재 클래스의 폰트사이즈 비율 비례
        font-size: 50px; -> 1.5em = 75px;
    */
}

.user-photo{
    flex-shrink: 0; /* flex-shrink를 0으로 주면 사진이 찌그러지지 않는다.;*/
    width: 50px;
    height: 50px;
    margin-right: 0.5em;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: gold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.user-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}